body {
  font-family: 'Droid Sans', sans-serif;
  font-size: .9em;
  background-color : white ;
  color : #111 ;
  min-width : 400px ;
  min-height : 200px ;
  padding : 1em ;
  margin : 1% 5% ;
  display : block ;
}

a:link    { color : blue ; text-decoration : none ;      }
a:hover   { color : blue ; text-decoration : underline ; }
a:visited { color : blue ;                               }

h1 a { color : inherit !important; font-size: 50px; }
h2 a { color : inherit !important; font-size: 22px; }
h3 a { color : inherit !important }
h4 a { color : inherit !important }
h5 a { color : inherit !important }
h6 a { color : inherit !important }

ul { display: inline; list-style-type: none }
li { margin-left: 10px }

#wrapper {
  margin: 0px auto;
  width: 960px;
}

#page {
  border: 0px solid gray;
  border-radius: 10px;
  box-shadow: 0px 0px 5px #777;
  box-shadow:         3px 3px 5px 6px #ccc;
  margin: 0px;
  margin-bottom: 20px;
  overflow: hidden;
  padding: 0px 20px;
}

header {
  font-family: 'Cambo', serif;
  text-align: center;
}

nav {
  float: left;
  width: 178px;
  padding-right: 20px;
}

#content {
  padding-left: 20px;
  width: 702px;
  float: right;
}

pre {
  font-family: monospace;
  margin : 2em 1em 2em 4em ;
}

footer {
  text-align: center;
}
