body {
  font-family : monospace ;
  font-size : 100% ;
  background-color : white ;
  color : #111 ;
  min-width : 400px ;
  min-height : 200px ;
  padding : 1em ;
  margin : 1% 5% ;
  display : block ;
}

a:link    { color : blue ; text-decoration : none ;      }
a:hover   { color : blue ; text-decoration : underline ; }
a:visited { color : blue ;                               }

h1 a { color : inherit !important; font-size: 50px; }
h2 a { color : inherit !important; font-size: 22px; }
h3 a { color : inherit !important }
h4 a { color : inherit !important }
h5 a { color : inherit !important }
h6 a { color : inherit !important }

ul { list-style-type: none }

#banner {
  font-family: 'Cambo', serif;
  text-align: center;
}

#content { float: right; }

pre {
  margin : 2em 1em 2em 4em ;
}

#post-list {
  margin-bottom : 1em ;
  margin-top : 1em ;
}

footer {
  text-align: center;
}
